body{
    background-color: rgba(145, 178, 209, 0.993);
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(27, 197, 132);
    max-width: 450px;
    height: 500px;
    margin: 50px auto;
    padding: 0% 4% 3% 4%;
    border: cadetblue 6px solid;
}
.entrance{
    display: flex;
    flex-direction: column;
    &__title{
        text-align: center;
        color: rgb(14, 74, 77); 
    }

    &__name{
        color: rgb(9, 54, 56);
        font-size: 120%;
    }
    &__button{
        display: flex;
        align-content: center;
        justify-content: center;
    }
    &__btn{
        width: 30%;
        height: 120%;
        background-color:rgba(145, 178, 209, 0.993);
        border: cadetblue 3px solid;
        border-radius: 15px;
        outline: none;
        color: rgb(255, 255, 255);
        font-size: 110%;
        text-align: center;
    }
    &__btn:hover{
        cursor: pointer;
        color: rgb(14, 74, 77);
        background-color: rgb(223, 223, 223);
    }
}
.game_selection{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: rgb(14, 74, 77);
    font-size: 50px;
    margin-top: 30px;

    ul{
        margin: 30px 0 30px -40px;
        width: 100%;
    }
    li{
        list-style: none;
        border-color:rgb(14, 74, 77) ;
        border-style: solid;
        border-width: 1px 0;
        text-align: center;
        padding: 15px 50px;
    }
    li:hover{
        cursor: pointer;
        background-color: rgba(14, 74, 77, 0.185);
    }
}
.game_settings{
    display: flex;
    flex-direction: column;
    color: rgb(9, 54, 56);
    font-size: 120%;

    &__title{
        text-align: center;
        color: rgb(14, 74, 77); 
    }
    &__button{
        display: flex;
        align-content: center;
        justify-content: center;
    }
    &__btn{
        width: 30%;
        height: 130%;
        background-color:rgba(145, 178, 209, 0.993);
        border: cadetblue 3px solid;
        border-radius: 15px;
        outline: none;
        color: rgb(255, 255, 255);
        font-size: 110%;
        text-align: center;
        padding: 0.5%;
    }
    &__btn:hover{
        cursor: pointer;
        color: rgb(14, 74, 77);
        background-color: rgb(223, 223, 223);
    }
}